force-app/main/default/flows/Add_CountryCode_In_Phone_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Country_code_in_Phone_Number</name>
        <label>Add Country code in Phone Number</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>phoneNumberwithCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phonenumberCountryCodeFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_The_Phone_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Country_code_in_Phone_Number_India</name>
        <label>Add Country code in Phone Number India</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>phoneNumberwithCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultCountryIndiaFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_The_Phone_Number</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Country_is_Blank_or_not</name>
        <label>Check for Country is Blank or not</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Country_Is_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Address__CountryCode__s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Dialing_Code_based_On_Country</targetReference>
            </connector>
            <label>Country Is Available</label>
        </rules>
        <rules>
            <name>Country_Is_Not_Available</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Address__CountryCode__s</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Address__CountryCode__s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Default_India_Dialing_code</targetReference>
            </connector>
            <label>Country Is Not Available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>defaultCountryIndiaFormula</name>
        <dataType>String</dataType>
        <expression>{!Get_Default_India_Dialing_code.Dialing_Code__c}+{!$Record.Phone__c}</expression>
    </formulas>
    <formulas>
        <name>phonenumberCountryCodeFormula</name>
        <dataType>String</dataType>
        <expression>{!Get_Dialing_Code_based_On_Country.Dialing_Code__c}+{!$Record.Phone__c}</expression>
    </formulas>
    <interviewLabel>Add CountryCode In Phone Number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add CountryCode In Phone Number</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Default_India_Dialing_code</name>
        <label>Get Default India Dialing code</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Country_code_in_Phone_Number_India</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IN</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country_Phone_Codes__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dialing_Code_based_On_Country</name>
        <label>Get Dialing Code based On Country</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Country_code_in_Phone_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Address__CountryCode__s</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country_Phone_Codes__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_The_Phone_Number</name>
        <label>Update The Phone Number</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Address__CountryCode__s</field>
            <value>
                <stringValue>IN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>phoneNumberwithCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_The_Phone_Number</name>
        <label>Update The Phone Number</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>phoneNumberwithCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Country_is_Blank_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Nurturing_Database__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>phoneNumberwithCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
