force-app/main/default/flows/Desync_the_Contact_From_Marketing_Cloud.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Open_Opportunity_Count_Assignment</name>
        <label>Open Opportunity Count Assignment</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>CountOfClosedOpportunity</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_All_Opportunities_of_Same_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_the_Open_Opportunities_count_is_Zero_or_not</name>
        <label>Check if the Open Opportunities count is Zero or not</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>Open Oppportunties Available</defaultConnectorLabel>
        <rules>
            <name>Open_Oppportunties_Not_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfClosedOpportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_related_Contact</targetReference>
            </connector>
            <label>Open Oppportunties Not Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Closed</name>
        <label>Opportunity Closed?</label>
        <locationX>358</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Open_Opportunity_Count_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opportunity is not Closed</defaultConnectorLabel>
        <rules>
            <name>Opportunity_is_Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_All_Opportunities_of_Same_Account.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_All_Opportunities_of_Same_Account.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_All_Opportunities_of_Same_Account</targetReference>
            </connector>
            <label>Opportunity is Closed</label>
        </rules>
    </decisions>
    <description>Desync the Contact From Marketing Cloud when Opportunity is closed won or Closed lost</description>
    <environments>Default</environments>
    <interviewLabel>Desync the Lead From Marketing Cloud {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Desync the Contact From Marketing Cloud</label>
    <loops>
        <name>Loop_through_All_Opportunities_of_Same_Account</name>
        <label>Loop through All Opportunities of Same Account</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_All_Opportunities_of_the_Same_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Opportunity_Closed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_the_Open_Opportunities_count_is_Zero_or_not</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Opportunities_of_the_Same_Account</name>
        <label>Get All Opportunities of the Same Account</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_All_Opportunities_of_Same_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_related_Contact</name>
        <label>Update related Contact</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Desync_From_Marketing__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Opportunities_of_the_Same_Account</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CountOfClosedOpportunity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
