force-app/main/default/flows/Run_Lead_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Lead_Assignment</name>
        <label>Lead Assignment</label>
        <locationX>2074</locationX>
        <locationY>276</locationY>
        <actionName>LeadAssignmentCtrl</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>If_Error_Contains_Duplicate_Values</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LeadAssignmentCtrl</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Phone_Number_Field</name>
        <label>Update Phone Number Field</label>
        <locationX>50</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>$Record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MobileNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Phone_Number_Fielddd</name>
        <label>Update Phone Number Field</label>
        <locationX>578</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>$Record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MobileNumber10</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Phone_Number_Fields</name>
        <label>Update Phone Number Field</label>
        <locationX>314</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>$Record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MobileNumberWithoutPlus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Record_Type</name>
        <label>Update Record Type</label>
        <locationX>446</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Executive_Education_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Untouched</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Phone_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Source_to_google</name>
        <label>Update Source to google</label>
        <locationX>446</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>$Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Google_ads</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Source_to_meta</name>
        <label>Update Source to meta</label>
        <locationX>182</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>$Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Meta_Ads</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_UG_Record_Type</name>
        <label>Update Record Type</label>
        <locationX>1018</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Default_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Phone_Number</name>
        <label>Check Phone Number</label>
        <locationX>446</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Check_Source</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Containes_91</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>+91 </stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PhoneNoLen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>13.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Phone_Number_Field</targetReference>
            </connector>
            <label>If Containes +91</label>
        </rules>
        <rules>
            <name>If_COntains_91</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>91</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PhoneNoLen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Phone_Number_Fields</targetReference>
            </connector>
            <label>If Contains 91</label>
        </rules>
        <rules>
            <name>If_Length_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PhoneNoLen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Phone_Number_Fielddd</targetReference>
            </connector>
            <label>If Length 10</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Source</name>
        <label>Check Source</label>
        <locationX>446</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <targetReference>Update_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Fb_Ig</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fb</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ig</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Source_to_meta</targetReference>
            </connector>
            <label>If Fb &amp; Ig</label>
        </rules>
        <rules>
            <name>If_Google</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Google</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Source_to_google</targetReference>
            </connector>
            <label>If Google</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Error_Contains_Duplicate_Values</name>
        <label>If Error Contains Duplicate Values</label>
        <locationX>1414</locationX>
        <locationY>1500</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DUPLICATES_DETECTED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Error_Log</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Lead_Type</name>
        <label>If Lead Type</label>
        <locationX>732</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>get_Default_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Executive_Education</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Executive Education</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Executive_Education_Record_Type</targetReference>
            </connector>
            <label>Executive Education</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Record_Type</name>
        <label>If Record Type</label>
        <locationX>1271</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Lead_Type</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>MobileNumber</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE((RIGHT({!$Record.Phone}, LEN({!$Record.Phone})-1)), &quot; &quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>MobileNumber10</name>
        <dataType>String</dataType>
        <expression>&apos;91&apos; + SUBSTITUTE({!$Record.Phone}, &quot; &quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>MobileNumberWithoutPlus</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.Phone}, &quot; &quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>PhoneNoLen</name>
        <dataType>Number</dataType>
        <expression>LEN(SUBSTITUTE({!$Record.Phone}, &quot; &quot;, &quot;&quot;))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Record</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} + &apos; &apos; + {!$Record.Email}+ &apos; &apos; + {!$Record.Phone}+ &apos; &apos; + {!$Record.Programme_Interested_in__c}</expression>
    </formulas>
    <formulas>
        <name>TrimmedPhone</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.Phone}, &quot; &quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Run Lead Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Run Lead Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Error_Log</name>
        <label>Add Error Log</label>
        <locationX>1282</locationX>
        <locationY>1608</locationY>
        <inputAssignments>
            <field>Log_Name__c</field>
            <value>
                <stringValue>Run Lead Assignment Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Duplicate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request__c</field>
            <value>
                <elementReference>Record</elementReference>
            </value>
        </inputAssignments>
        <object>API_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Default_Record_Type</name>
        <label>get Default Record Type</label>
        <locationX>1018</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_UG_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Undergraduation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Executive_Education_Record_Type</name>
        <label>Get Record Executive Education Record Type</label>
        <locationX>446</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Executive_Education</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>732</locationX>
        <locationY>1392</locationY>
        <faultConnector>
            <targetReference>If_Error_Contains_Duplicate_Values</targetReference>
        </faultConnector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1546</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Record_Type</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3 ) OR 4</filterLogic>
        <filters>
            <field>City</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Country</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X1_Min</name>
            <connector>
                <targetReference>Lead_Assignment</targetReference>
            </connector>
            <label>1 Minutes</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>PhoneStore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
