force-app/main/default/flows/Update_Converted_Lead_Related_Object.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Account_Id3</name>
        <label>Update Account Id</label>
        <locationX>374</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>Loop_Education_Details.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Education_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Account_Id4</name>
        <label>Update Account Id</label>
        <locationX>374</locationX>
        <locationY>2016</locationY>
        <assignmentItems>
            <assignToReference>Loop_Employment_History.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Employment_History</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Account_Id5</name>
        <label>Update Account Id</label>
        <locationX>374</locationX>
        <locationY>2724</locationY>
        <assignmentItems>
            <assignToReference>Loop_Professional_Certificate.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Professional_Certificate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Account_Id6</name>
        <label>Update Account Id</label>
        <locationX>374</locationX>
        <locationY>3432</locationY>
        <assignmentItems>
            <assignToReference>Loop_Professional_Award_Achievement.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Professional_Award_Achievement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Account_Id7</name>
        <label>Update Account Id</label>
        <locationX>374</locationX>
        <locationY>4140</locationY>
        <assignmentItems>
            <assignToReference>Loop_Sponsorship_Information.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Sponsorship_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Account_Ids</name>
        <label>Update Account Id</label>
        <locationX>374</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>Update_Account_Id.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_2_of_If_Document_Details</name>
        <label>If Education Details</label>
        <locationX>418</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Get_Employment_History</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Education_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Education_Details</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Document_Details</name>
        <label>If Document Details</label>
        <locationX>418</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Get_Education_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Document_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Id</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Employment_History</name>
        <label>If Employment History</label>
        <locationX>418</locationX>
        <locationY>1800</locationY>
        <defaultConnector>
            <targetReference>Get_Professional_Certificate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Employment_History</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Employment_History</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Professional_Award_Achievement</name>
        <label>If Professional Award/ Achievement</label>
        <locationX>418</locationX>
        <locationY>3216</locationY>
        <defaultConnector>
            <targetReference>Get_Sponsorship_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Professional_Award_Achievement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Professional_Award_Achievement</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Professional_Certificate</name>
        <label>If Professional Certificate</label>
        <locationX>418</locationX>
        <locationY>2508</locationY>
        <defaultConnector>
            <targetReference>Get_Professional_Award_Achievement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Professional_Certificate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Professional_Certificate</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Sponsorship_Information</name>
        <label>If  Sponsorship Information</label>
        <locationX>418</locationX>
        <locationY>3924</locationY>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sponsorship_Information</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Sponsorship_Information</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Converted Lead Related Object {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Converted Lead Related Object</label>
    <loops>
        <name>Loop_Education_Details</name>
        <label>Loop Education Details</label>
        <locationX>286</locationX>
        <locationY>1200</locationY>
        <collectionReference>Get_Education_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Account_Id3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Education_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Employment_History</name>
        <label>Loop Employment History</label>
        <locationX>286</locationX>
        <locationY>1908</locationY>
        <collectionReference>Get_Employment_History</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Account_Id4</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Employment_History</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Professional_Award_Achievement</name>
        <label>Loop Professional Award/ Achievement</label>
        <locationX>286</locationX>
        <locationY>3324</locationY>
        <collectionReference>Get_Professional_Award_Achievement</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Account_Id6</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Professional_Awards</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Professional_Certificate</name>
        <label>Loop Professional Certificate</label>
        <locationX>286</locationX>
        <locationY>2616</locationY>
        <collectionReference>Get_Professional_Certificate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Account_Id5</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Professional_Certifications</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Sponsorship_Information</name>
        <label>Loop Sponsorship Information</label>
        <locationX>286</locationX>
        <locationY>4032</locationY>
        <collectionReference>Get_Sponsorship_Information</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Account_Id7</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Sponsorship_Informations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_Account_Id</name>
        <label>Update Account Id</label>
        <locationX>286</locationX>
        <locationY>492</locationY>
        <collectionReference>Get_Document_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Account_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Document_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Document_Details</name>
        <label>Get Document Details</label>
        <locationX>418</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Document_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Document_Detail__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Education_Details</name>
        <label>Get Education Details</label>
        <locationX>418</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_If_Document_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Educational_Detail__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employment_History</name>
        <label>Get Employment History</label>
        <locationX>418</locationX>
        <locationY>1692</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Employment_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employment_History__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Professional_Award_Achievement</name>
        <label>Get Professional Award/ Achievement</label>
        <locationX>418</locationX>
        <locationY>3108</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Professional_Award_Achievement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Professional_Award_Achievement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Professional_Certificate</name>
        <label>Get Professional Certificate</label>
        <locationX>418</locationX>
        <locationY>2400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Professional_Certificate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Professional_Certification__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sponsorship_Information</name>
        <label>Get Sponsorship Information</label>
        <locationX>418</locationX>
        <locationY>3816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Sponsorship_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sponsorship_Information__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Document_Details</name>
        <label>Update Document Details</label>
        <locationX>286</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Get_Education_Details</targetReference>
        </connector>
        <inputReference>Get_Document_Details</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Education_Details</name>
        <label>Update Education Details</label>
        <locationX>286</locationX>
        <locationY>1500</locationY>
        <connector>
            <targetReference>Get_Employment_History</targetReference>
        </connector>
        <inputReference>Get_Education_Details</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Employment_History</name>
        <label>Update Employment History</label>
        <locationX>286</locationX>
        <locationY>2208</locationY>
        <connector>
            <targetReference>Get_Professional_Certificate</targetReference>
        </connector>
        <inputReference>Get_Employment_History</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Professional_Awards</name>
        <label>Update Professional Awards</label>
        <locationX>286</locationX>
        <locationY>3624</locationY>
        <connector>
            <targetReference>Get_Sponsorship_Information</targetReference>
        </connector>
        <inputReference>Get_Professional_Award_Achievement</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Professional_Certifications</name>
        <label>Update Professional Certifications</label>
        <locationX>286</locationX>
        <locationY>2916</locationY>
        <connector>
            <targetReference>Get_Professional_Award_Achievement</targetReference>
        </connector>
        <inputReference>Get_Professional_Certificate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sponsorship_Informations</name>
        <label>Update Sponsorship Informations</label>
        <locationX>286</locationX>
        <locationY>4332</locationY>
        <inputReference>Get_Sponsorship_Information</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>After_1_Min</name>
            <connector>
                <targetReference>Get_Document_Details</targetReference>
            </connector>
            <label>After 1 Min</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>ConvertedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
