force-app/main/default/flows/Update_Lead_Phone_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Checking_Phone_Number_Length</name>
        <label>Checking Phone Number Length</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Not Valid Length</defaultConnectorLabel>
        <rules>
            <name>Valid_Length</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PhoneNumberLength</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Country_Code.Phone_Number_Length__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Phone_Field</targetReference>
            </connector>
            <label>Valid Length</label>
        </rules>
    </decisions>
    <description>Update Phone field using country based</description>
    <environments>Default</environments>
    <formulas>
        <name>CustomPhoneNumber</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Country_Code.Phone_Code__c}) + {!$Record.Phone}</expression>
    </formulas>
    <formulas>
        <name>PhoneNumberLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!$Record.Phone})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Phone Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Lead Phone Field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Country_Code</name>
        <label>Get Country Code</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_Phone_Number_Length</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country_Phone_Codes__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Phone_Field</name>
        <label>Update Phone Field</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>CustomPhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Country_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>LinkedIn Ads</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
