force-app/main/default/flows/Update_Phone_Number_For_Auris.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_Update_Phone_Number</name>
        <label>Update Phone Number</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhoneNumberWithoutPlus</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Phone_Number</name>
        <label>Update Phone Number</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedPhoneNumber</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Phone_Numbers</name>
        <label>Update Phone Number</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhoneNumber</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>If_Phone_Length</name>
        <label>If Phone Length</label>
        <locationX>446</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ten</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PhoneNoLen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Phone_Number</targetReference>
            </connector>
            <label>10</label>
        </rules>
        <rules>
            <name>If_Containes_91</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>+91</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PhoneNoLen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>13.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Phone_Number</targetReference>
            </connector>
            <label>If Containes +91</label>
        </rules>
        <rules>
            <name>If_Contains_91</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>91</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PhoneNoLen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Phone_Numbers</targetReference>
            </connector>
            <label>If Contains 91</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PhoneNoLen</name>
        <dataType>Number</dataType>
        <expression>LEN(SUBSTITUTE({!$Record.Phone}, &quot; &quot;, &quot;&quot;))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PhoneNumber</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.Phone}, &quot; &quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>PhoneNumberWithoutPlus</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE((RIGHT({!$Record.Phone}, LEN({!$Record.Phone})-1)), &quot; &quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>UpdatedPhoneNumber</name>
        <dataType>String</dataType>
        <expression>&apos;91&apos; + SUBSTITUTE({!$Record.Phone}, &quot; &quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Update Phone Number For Auris {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Phone Number For Auris</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Phone_Length</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Country</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>India</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
