force-app/main/default/flows/WhatsApp_Event_Capture_FROM_MC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Lead_Count</name>
        <label>Assign Lead Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AvailableLead</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>find_the_lead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Response</name>
        <label>Assign Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_on_Available_Lead.Interested_for_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Keyword__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Available_Lead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_on_Available_Lead.Call_Log__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Keyword__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Available_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Lead is not Available</defaultConnectorLabel>
        <rules>
            <name>Lead_is_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AvailableLead</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Available_Lead</targetReference>
            </connector>
            <label>Lead is Available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PhoneNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Record.MobileNumber__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>WhatsApp Event Capture {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WhatsApp Event Capture FROM MC</label>
    <loops>
        <name>Loop_on_Available_Lead</name>
        <label>Loop on Available Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>find_the_lead</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Response</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Leads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>find_the_lead</name>
        <label>find the lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Lead_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MC_Phone_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PhoneNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125g000002SMZcAAO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Leads</name>
        <label>Update Leads</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>LeadRecords</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>find_the_lead</targetReference>
        </connector>
        <object>WhatsApp_Quick_Response__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AvailableLead</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>LeadRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>PhonNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
